<!DOCTYPE html>
<html lang=en>
<head>
<base href=/>
<meta charset=UTF-8>
<meta name=viewport content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv=X-UA-Compatible content="ie=edge" />
<meta http-equiv=Content-Type content="text/html; charset=ISO-8859-1">
<meta name=og:description content="I'm Chris Pan!" />
<meta property=og:title content="嘎嘎｜Chris Pan"/>
<meta property=og:type content="website"/>
<meta property=og:url content="http://www.chrisgaga.com/"/>
<meta property=og:image:type content="image/png"/>
<meta property=og:image content="http://www.chrisgaga.com/images/logo.png"/>
<meta property=og:site_name content="嘎嘎｜Chris Pan" />
<meta name=description content>
<meta name=keywords content>
<link rel=stylesheet href=css/font-awesome.min.css>
<meta http-equiv=content-language content=zh-Hant-TW>
<link rel=canonical href=http://www.tena.com.tw/>
<link rel="shortcut icon" type=image/x-icon href=images/favicon/favicon.ico />
<link rel=apple-touch-icon sizes=57x57 href=images/favicon/apple-icon-57x57.png>
<link rel=apple-touch-icon sizes=60x60 href=images/favicon/apple-icon-60x60.png>
<link rel=apple-touch-icon sizes=72x72 href=images/favicon/apple-icon-72x72.png>
<link rel=apple-touch-icon sizes=76x76 href=images/favicon/apple-icon-76x76.png>
<link rel=apple-touch-icon sizes=114x114 href=images/favicon/apple-icon-114x114.png>
<link rel=apple-touch-icon sizes=120x120 href=images/favicon/apple-icon-120x120.png>
<link rel=apple-touch-icon sizes=144x144 href=images/favicon/apple-icon-144x144.png>
<link rel=apple-touch-icon sizes=152x152 href=images/favicon/apple-icon-152x152.png>
<link rel=apple-touch-icon sizes=180x180 href=images/favicon/apple-icon-180x180.png>
<link rel=icon type=image/png sizes=192x192 href=images/favicon/android-icon-192x192.png>
<link rel=icon type=image/png sizes=32x32 href=images/favicon/favicon-32x32.png>
<link rel=icon type=image/png sizes=96x96 href=images/favicon/favicon-96x96.png>
<link rel=icon type=image/png sizes=16x16 href=images/favicon/favicon-16x16.png>
<link rel=manifest href=images/favicon/manifest.json>
<meta name=msapplication-TileColor content=#ffffff>
<meta name=msapplication-TileImage content=images/favicon/ms-icon-144x144.png>
<meta name=theme-color content=#ffffff>
<link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css>
<link rel=stylesheet href=css/hamburgers.css?20180321>
<link rel=stylesheet href=css/main.css?2018050301>
<style>
/* 20180719 */
.portfolio-page .video-list{margin-bottom: 56px;}
</style>
<title>嘎嘎｜Chris Pan</title>
</head>
<body>
<div id=app v-cloak>
<header id=header>
<div class=nav>
<button class="hamburger hamburger--spring-r navbar-toggle nav-icon" type=button @click=navToggle :class="mobileNavToggle ? 'is-active' : ''">
<span class=hamburger-box>
<span class=hamburger-inner></span>
</span>
</button>
<div class=logo>
<router-link v-on:click.native="isCover = true; mobileNavToggle = false;" to=/>
<img src=./images/logo_w.svg>
</router-link>
</div>
<div class=collapse :class="mobileNavToggle ? 'active' : ''">
<ul>
<li v-for="(d,key) in data.en.home_data.navMenu">
<router-link v-on:click.native=navToggle() :to=d.link>{{d.item.toUpperCase()}}</router-link>
</li>
</ul>
</div>
</div>
</header>
<div class=container-fluid>
<div class=row>
<transition name=coverTransition mode=out-in>
<router-view class=viewer ref=view></router-view>
</transition>
</div>
</div>
<div id=customize-lightbox>
<div class=content-container>
<div class="hamburger hamburger--squeeze js-hamburger is-active lightbox-close" @click=closeLightbox()>
<span class=hamburger-box>
<span class=hamburger-inner></span>
</span>
</div>
<div class=video-container>
<div id=youtube-placeholder></div>
</div>
</div>
</div>
<footer id=footer :class="isLanding ? 'landing' : ''">
<div class="container-fluid footer-container">
<div class=row>
<div class=col-sm-12>
<ul class=social-wrap>
<li>
<a :href=facebookLink target=_blank>
<img src=./images/icon_fb.svg>
</a>
</li>
<li>
<a href=https://www.cycletaipei.com/ target=_blank>
<img src=./images/icon_cycle_new.svg>
</a>
</li>
</ul>
<div class=copyright>
Copyright © 2018 <a href=http://www.sparospace.com/ target=_blank>Sparospace</a> Inc. All rights reserved
</div>
</div>
</div>
</div>
</footer>
</div>
<template id=component-pagenotfound>
<section class="section absoulate-center">
<h2>404 | 您要找的頁面不存在</h2>
</section>
</template>
<template id=component-landing>
<section class="section landing-page">
<div class=logo-wrap>
<router-link to=/portfolio><div class=logo-icon style="background-image:url('./images/imchrispan.svg')"></router-link>
</div>
</div>
</section>
</template>
<template id=component-portfolio>
<section class="section portfolio-page">
<div class=container-fluid>
<div class=row>
<ul class=video-list>
<li v-for="(item, index) in portfolioData.slice().reverse()" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 video-item">
<a @click.prevent=$root.activeLightbox(item.videoID) :href=item.href target=_blank>
<div class=bg-wrap :style="'background-image: url(https://img.youtube.com/vi/'+ item.videoID +'/hqdefault.jpg)'">
<div class=content-wrap>
<h2> {{item.title}}</h2>
</div>
</div>
</a>
</li>
</ul>
</div>
</div>
</section>
</template>
<template id=component-about>
<section class="section about-page">
<div class=container>
<div class="row personal-info">
<div class="col-sm-6 col-sm-push-6">
<div class=img><img src=images/gaga.jpg alt=嘎嘎></div>
</div>
<div class="col-sm-6 col-sm-pull-6">
<h1><span>嘎嘎</span> Chris Pan</h1>
<ul>
<li>導演/演員/歌手</li>
<li>本名: 潘俊佳</li>
<li>身高：177cm 體重：69kg</li>
<li>語言：中文、英文、日文</li>
</ul>
</div>
</div>
<div class="row music sub-section">
<div class=col-sm-12>
<h2>音樂作品</h2>
<ul class=list>
<li>2017.02 數位單曲 男子漢 - 嘎嘎 x 李洛洋 x Under lover</li>
<li>2016.10 數位單曲 Show me love - feat.果凍</li>
<li>2016.05 數位單曲 絕不低頭 - 嘎嘎 x CYCLE x 李洛洋</li>
</ul>
</div>
<div class=col-sm-12>
<ul class=row>
<li class="img col-xs-4"><img src=images/work_1.png alt=男子漢></li>
<li class="img col-xs-4"><img src=images/work_2.png alt="Show me love"></li>
<li class="img col-xs-4"><img src=images/work_3.png alt=絕不低頭></li>
</ul>
</div>
</div>
<div class="row drama sub-section">
<div class="col-sm-8 col-sm-push-4">
<h2>戲劇作品</h2>
<ul class=list>
<li>2018 愛奇藝網劇【濟公之英雄歸位】飾演 二郎神</li>
<li>2017【電影角頭2 - 王者再起】〔飾演阿福〕 導演 顏正國</li>
<li>2017 酷瞧網劇【富井街這條街上的那些故事】男主角</li>
<li>2015 香港電視網絡【第二人生】客串</li>
<li>2013 TVBS歡樂台【媽，親一下！】客串</li>
</ul>
<ul class=row>
<li class="col-xs-6 img"><img src=images/work_4.png alt></li>
<li class="col-xs-6 img"><img src=images/work_5.png alt></li>
</ul>
</div>
<div class="col-sm-4 col-sm-pull-8">
<div class="img mobile-hide"><img src=images/work_6.png alt></div>
</div>
</div>
<div class="row sub-section director">
<h2 class=col-sm-12>幕後作品</h2>
<div class="col-sm-6 col-sm-push-6">
<h3>導演/剪接</h3>
<ul class=list>
<li>UNDER LOVER feat.嘎嘎.李洛洋Lil Young 【男子漢】 MV拍攝</li>
<li>拍攝花絮嘎嘎 x 李洛洋 x Under lover【男子漢】Official Music Video</li>
<li>Bolly & Ura [ Alan Walker - Faded ] Cover 嘎嘎 x CYCLE x 李洛洋【絕不低頭】Official Music Video</li>
<li>MP魔幻力量 feat.嚴爵【 Rock Zombie】 Official Music Video</li>
<li>MP魔幻力量2013.6.29「神射手」演唱會幕後紀錄（上）</li>
</ul>
</div>
<div class="col-sm-6 col-sm-pull-6 pt40">
<div class=img><img src=images/work_7.png alt></div>
</div>
<div class=col-sm-12>
<h3>廣告導演</h3>
<ul class=list>
<li>2016 The Kueenz ft. Vitchous-Yuh body - 形象廣告</li>
<li>A_Space Presents - Missy Elliott – 形象影片</li>
<li>CYCLE - We All Love CYCLE by 陳家駒+鯰魚哥 特別企劃 (側拍花絮)</li>
<li>CYCLE 2015 AW Collection Image Video - 形象影片</li>
<li>CYCLE 2015 A/W Collection Lookbook (Behind The Scenes) - 形象影片</li>
<li>CYCLE We All Love CYCLE by 吳心緹 特別企劃 (側拍花絮)</li>
<li>UNDER PEACE 2015 S/S How Wonderful Collection Video - 形象影片</li>
<li>UNDER PEACE 2015 CHOOSE YOUR COLOR (Official PV) - 形象影片</li>
<li>YCLE 2015 Spring Collection Image Video Vol.2 - 形象影片</li>
<li>CYCLE 2015 Spring Collection Image Video Vol.1 - 形象影片</li>
</ul>
</div>
<div class=col-sm-12>
<ul class=row>
<li class="col-xs-6 img"><img src=images/work_8.png alt></li>
<li class="col-xs-6 img"><img src=images/work_9.png alt></li>
</ul>
</div>
</div>
</div>
</section>
</template>
<template id=component-contact>
<section class="section contact-page">
<h2>合作洽談</h2>
<h3>louie360@gmail.com</h3>
</section>
</template>
<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-firestore.js"></script>
<script>
var config = {apiKey: "AIzaSyAJHHXxAk81-upIpCdUgFRCEbKbSAFuRkQ",authDomain: "chrisgaga-249f0.firebaseapp.com",databaseURL: "https://chrisgaga-249f0.firebaseio.com",projectId: "chrisgaga-249f0",storageBucket: "chrisgaga-249f0.appspot.com",messagingSenderId: "900763560184"};firebase.initializeApp(config);var db = firebase.firestore();
</script>
<script src=https://www.youtube.com/iframe_api></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.js></script>
<script src=js/jquery-1.10.2.min.js></script>
<script src=js/mobile-detect.min.js></script>
<script src=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js></script>
<script src=https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js></script>
<script src=js/youtube-control.js?20180328></script>
<script src=js/jquery.lightbox_me.js></script>
<script src=js/vue.min.js></script>
<script src=js/vue-router.js></script>
<script src=js/main.min.js?20180718></script>
</body>
</html>